{% extends 'base/base.html' %}

{% block content %}
    <section id="create-page" class="auth">
        <form id="create" method="post" action="{% url 'edit game' game.pk %}">
            {% csrf_token %}
            <div class="container">
                <h1>Edit Game</h1>
                {% for error in form.errors %}
                    {% if error %}
                        {{ error }}
                    {% endif %}
                {% endfor %}

                {{ form }}
                <input class="btn submit" type="submit" value="Edit Game">
            </div>
        </form>
    </section>

{% endblock %}