{% extends 'base/base.html' %}
{% block title %} | Register{% endblock %}
{% block content %}

    <!-- Start Register Section -->
    <div class="login-register-div">
        <div class="login-register-box">
            <h1>Petstagram</h1>

            <!-- Start Register Form -->
            <form action="" method="post">
                {% csrf_token %}
                <label for="id_first_name">First name:</label>
                {{ form.first_name }}
                <label for="id_last_name">Last name:</label>
                {{ form.last_name }}
                <label for="id_email">Email:</label>
                {{ form.email }}
                <label for="id_username">Username:</label>
                {{ form.username }}
                <label for="id_password1">Password:</label>
                {{ form.password1 }}
                <label for="id_password2">Confirm password:</label>
                {{ form.password2 }}
                <!-- Register Button -->
                <button type="submit">Register</button>
            </form>
            <!-- End Register Form -->

        </div>
        <div class="second-option">

            <!-- Link to Login Page -->
            <p>Have an account? <a href="{% url 'login user' %}">Log in</a></p>
        </div>
    </div>
    <!-- End Register Section -->

{% endblock %}
