{% extends 'base/base.html' %}
{% block content %}

    <section class="editPage">
        <form method="post" action="{% url 'delete album' album.pk %}">
            {% csrf_token %}
            <fieldset>
                <legend>Delete Album</legend>
                <div class="container">
                    {{ form }}
                    <button class="delete-album" type="submit">Delete Album</button>
                </div>
            </fieldset>
        </form>
    </section>

{% endblock %}